:root {
    --background-header: rgb(33, 37, 41);
    --background-modal: rgb(10, 9, 8);
    --background-modal-glass: rgba(10, 9, 8, 0.37);
    --letra-padrao: rgb(255, 255, 255);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    list-style: none;
    text-decoration: none;
    color: var(--letra-padrao);
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--background-header);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-modal);
    border-radius: 20px;
    border: 2px solid var(--background-header);
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
    border: 2px solid var(--background-header);
}

.mensagem-inicial {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}

.botao {
    cursor: pointer;
    width: 100%;
    height: 70%;
    background-color: var(--letra-padrao);
    color: var(--background-header);
    font-weight: 600;
    border: 1px solid var(--letra-padrao);
}

.botao:hover {
    background-color: var(--background-modal-glass);
    border: 1px solid var(--letra-padrao);
    color: var(--letra-padrao);
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}

h1 {
    font-weight: normal;
    font-size: 2em;
    cursor: default;
}

h2 {
    font-weight: normal;
    font-size: 1.6em;
    color: var(--letra-padrao);
    cursor: default;
}

fieldset {
    padding: 10px;
    border-radius: 7px;
    display: flex;
    border: 2px solid var(--letra-padrao);
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

legend {
    margin-left: 15px;
    padding: 0px 10px;
    cursor: default;
}

.top-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    height: 95%;
    gap: 12px;
}

.logo img {
    height: 100%;
}

#header {
    height: 60px;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--background-header);
    color: #fff;
    justify-content: space-between;
    cursor: default;
}

#sobre-site {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--background-header);
}

#sobre-site:hover {
    background-color: var(--background-modal);
    border: 1px solid var(--letra-padrao);
}

li {
    color: black;
}

.conteudo {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: 0;
    overflow: hidden;
}

.background img {
    min-height: 100%;
    min-width: 100%;
}

.agrupador-menu {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    z-index: 5;
}

#menu {
    max-width: 300px;
    min-width: 270px;
    height: 100%;
    z-index: 2;
    background-color: var(--background-modal);
    display: flex;
    flex-direction: column;
}

#menu ul {
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid;
    padding: 10px 0px;
}

#menu ul li {
    padding: 15px 15px 15px 10px;
    color: #fff;
    cursor: pointer;
}

#menu ul li:hover {
    background-color: #fff;
    cursor: pointer;
    color: var(--background-modal);
}

#menu-hambuguer {
    height: 25px;
    width: 25px;
    display: none;
    margin-top: 10px;
}

#menu-hambuguer img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#background-modal {
    border-radius: 15px;
    background-color: var(--background-header);
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-open {
    display: block !important;
}

.menu-clicado {
    background-color: #fff;
    cursor: pointer;
    color: var(--background-modal) !important;
}

.gerador {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.modal {
    min-width: 600px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50%;
    max-height: 90%;
    background: var(--background-modal-glass);
    /* box-shadow: 0px 0px 20px 9px rgb(107 107 107 / 37%); */
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 35px 60px;
    gap: 15px;
}

.retorno-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 150px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--letra-padrao);
    position: relative;
}

.retorno {
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 0px;
    z-index: 9;
    background: none;
    min-height: 130px;
    line-height: 21px;
    font-size: 15px;
    font-weight: lighter;
    cursor: default
}

#btn-copiar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 7px;
    max-height: 40px;
}

.agrupador-mobile {
    width: 100%;
    height: auto;
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.elemento-filtros {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

label {
    color: var(--letra-padrao);
}

input,
option,
select {
    color: var(--background-modal);
    width: 100%;
}

input,
select {
    color: var(--background-modal);
    width: 100%;
    height: 30px;
    padding: 3px;
    border: 2px solid #FFF;
    border-radius: 7px;
    cursor: pointer;
}

.btn-gerar {
    width: 100px;
    display: flex;
    align-items: end;
}

.modal-container {
    display: none;
}

.loading {
    width: 27px;
    height: 27px;
    border-radius: 50px;
    border: 5px solid white;
    border-top-color: transparent;
    animation: loading 0.6s linear infinite;
}

.close {
    display: none !important;
}

#sobre-nos {
    overflow: auto;
    padding: 35px 60px;
    justify-content: start;
    max-width: 500px;
    min-width: 500px;
}

#divContainer{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 500px;
}

#divContainer p {
    text-align: justify;
    overflow: auto;
    padding: 0px 7px 0px 0px;
    line-height: 21px;
}


@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}



@media (max-width: 890px) {
    #header {
        justify-content: center;
    }

    #sobre-site {
        display: none;
    }

    #menu-hambuguer {
        display: block;
        background-color: var(--background-modal);
        width: 100%;
        padding: 0px 0px 0px 10px;
    }

    #menu {
        display: none;
    }

    .agrupador-menu {
        position: absolute;
    }


    .modal {
        width: 90%;
        height: 90%;
        min-width: 250px;
        max-width: 500px;
        padding: 15px;
    }

    .gerador {
        padding-top: 40px;
    }
    
    #sobre-nos {
        min-width: 250px;
        max-width: 500px;
        padding: 15px;
    }

}