:root {
    --background-header: rgb(33, 37, 41);
    --background-modal: rgb(10, 9, 8);
    --background-modal-glass: rgba(10, 9, 8, 0.37);
    --letra-padrao:  rgb(255, 255, 255);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    list-style: none;
    text-decoration: none;
    color: var(--letra-padrao);
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background-header);
     border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--background-modal);
    border-radius: 20px;
    border: 2px solid var(--background-header);
  }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
    border: 2px solid var(--background-header);
}


input[type=button] {
    background: none;
    border: 0px;
    cursor: pointer;
    width: 100%;
    height: 70%;
    background-color: var(--background-header);
    color: var(--letra-padrao);
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

h1 {
    font-weight: normal;
    font-size: 2em;
    cursor: default;
}

h2 {
    font-weight: normal;
    font-size: 1.6em;
    color: var(--letra-padrao);
    cursor: default;
}

fieldset{
    padding: 10px;
    border-radius: 7px;
    display: flex;
    border: 2px solid var(--letra-padrao);
    flex-direction: column;
    gap: 15px;
}

legend{
    margin-left: 15px;
    padding: 0px 10px;
    cursor: default;
}

.top-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    height: 95%;
    gap: 12px;
}

.logo img {
    height: 100%;
}

#header {
    height: 60px;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--background-header);
    color: #fff;
    justify-content: space-between;
    cursor: default;
}

#sobre-nos {
    height: 100%;
    display: flex;
    align-items: center;justify-content: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#sobre-nos:hover {
    background-color: var(--background-modal);
}

li {
    color: black;
}

.conteudo {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.18;
    z-index: 0;
    overflow: hidden;
}

.background img {
    min-height: 100%;
    min-width: 100%;
}

.agrupador-menu {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    z-index: 5;
}

#menu {
    max-width: 300px;
    min-width: 270px;
    height: 100%;
    z-index: 2;
    background-color: var(--background-modal);
    display: flex;
    flex-direction: column;
}

#menu ul {
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid ;
    padding: 10px 0px;
}

#menu ul li {
    padding: 15px 15px 15px 10px;
    color: #fff;
    cursor: pointer;
}

#menu ul li:hover {
    background-color: #fff;
    cursor: pointer;
    color: var(--background-modal);
}

#menu-hambuguer {
    height: 25px;
    width: 25px;
    display: none;
    margin-top: 10px;
}

#menu-hambuguer img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#background-modal {
    border-radius: 15px;
    background-color: var(--background-header);
    opacity: 0.4;
}

.menu-open {
    display: block!important;
}

.menu-clicado {
    background-color: #fff;
    cursor: pointer;
    color: var(--background-modal) !important;
}

.gerador{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    min-width: 600px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    min-height: 50%;
    max-height: 90%;
    background:var(--background-modal-glass);
    box-shadow: 0px 0px 20px 9px rgb(107 107 107 / 37%);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px 70px;
    gap: 15px;
}

.retorno-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 150px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--letra-padrao);
    position: relative;
}

.retorno {
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 0px;
    z-index: 9;
    background: none;
    min-height: 150px;
    line-height: 21px;
    font-size: 15px;
    font-weight: lighter;
    cursor: text
}

.btn-copiar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
    background-color: var(--background-header);
    border: 2px solid var(--background-header);
    border-radius: 50px;
}

.btn-copiar:hover {
    background-color: var(--background-modal);
    border: 2px solid var(--background-header);
}

.agrupador-mobile{
    width: 100%;
    height: auto;
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.elemento-filtros {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

label {
    color: var(--letra-padrao);
}

input, option, select {
    color: var(--background-modal);
    width: 100%;
}

input, select {
    color: var(--background-modal);
    width: 100%;
    height: 30px;
    padding: 3px;
    border: 2px solid var(--background-header);
    border-radius: 7px;
    cursor: pointer;
}

.btn-gerar{
    width: 100px;
    display: flex;
    align-items: end;

}

.modal-container {
    display: none;
}





@media (max-width: 800px) {
    #header {
        justify-content: center;
    }

    #sobre-nos {
        display: none;
    }

    #menu-hambuguer {
        display: block;
        background-color: var(--background-modal);
        width: 100%;
        padding: 0px 0px 0px 10px;
    }

    #menu {
        display: none;
    }

    .agrupador-menu {
        position: absolute;
    }
    
    .modal{
        width: 90%;
        height: 90%;
        min-width: 150px;
        padding: 15px;
    }

    .gerador{
        padding-top: 40px;
    }

}